<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact Me</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/ContactFormStyle.css')}}">
	<style type= "text/css">
	.back__button{

	}
	.back__button:active
	{

	}
	h1
	{
		background-color: darkgreen;
	}
	body
	{
		background-color: lightblue;
	}
    </style>
    </head>




		<body>
      <h1 align = "Center"> Contact Me!</h1>
      <hr>

			<div class="Container">
				<form class="form-inline" action="{{ url_for('Contact') }}" method=post>

					<label for="FirstName">First Name</label>
					<input type="text" name="FirstName" placeholder="First Name">
					<label for="LastName">Last Name</label>
					<input type="text" name="LastName" placeholder="Last Name">
					<label for="Email">Your Email</label>
					<input type="text" name="Email" placeholder="Your email">
					<label for="Interest">Interest</label>
					<input type="text" name="Interest" placeholder="Interest e.g.writing,coding..."><br>
					<label for="Continent">Continent Where you are from</label>
					<select id="Continent" name="Continent">
						<option value="NorthAmerica">North America</option>
						<option value="SouthAmerica">South America</option>
						<option value="Europe">Europe</option>
						<option value="MiddleEast">Middle East</option>
						<option value="Asia">Asia</option>
						<option value="Australia">Australia</option>
					</select>
					<textarea name="Message" placeholder="message" style="height:200px"></textarea>
					<input type="submit" value="submit" onclick="return validate();"/>
				</form>
			</div>
			<br style="line-height:5;">
      <button class=" back__button"type="button" onclick="window.location.href='{{ url_for( 'index')}}'">Back</button>


		</body>
		</html>
